<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Vehicle Servlet Configuration -->
    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>com.cartracker.VehicleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/vehicles/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>customersServlet</servlet-name>
        <servlet-class>com.customers.customersServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>customersServlet</servlet-name>
        <url-pattern>/customers/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.AdminLogin.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>




</web-app>